<div class="alert alert-{{ type }} no-margin" role="alert" >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onClose()"></button>
</div>