<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Http</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/cursos']">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rxjs-poc']">RxJS POC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/upload']">Upload Arquivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/busca-reativa']">Pesquisa Reativa</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>