<div class="card mt-3">
    <div class="card-header">
        <div class="float-start">
            <h4>Cursos</h4>
        </div>
        <div class="float-end">
            <button type="button" class="btn btn-primary" [routerLink]="['novo']">
                Novo Curso
            </button>
            <button type="button" class="btn btn-secondary" (click)="onRefresh()">
                Atualizar
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let object of cursos">
                    <td>{{ object.id }}</td>
                    <td>{{ object.nome }}</td>
                    <td>
                        <span class="float-end">
                            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(object.id)">
                                Atualizar
                            </button>

                            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(object)">
                                Remover
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <span class="spinner-grow text-primary" role="status"></span>
        </ng-template>
        <!-- <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
                Erro ao carregar cursos. Tente novamente mais tarde.
            </div>
        </ng-template> -->
    </div>
</div>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja remover o curso?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
</ng-template>