<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>    
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>{{ msg }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">
            {{ cancelTxt }}
        </button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">
            {{ okTxt }}
        </button>
    </div>
</div>