<div style="margin-top: 10px;">
  <div class="form-group">
    <div class="mb-3">
      <label for="formFile" class="form-label">Selecionar Arquivo</label>
      <input class="form-control" type="file" id="customFileLabel" multiple (change)="onChange($event)"/>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" [style.width]="progress + '%'"> {{ progress }}%
      </div>
    </div>
  </div>
  <div class="col-lg-12 pull-right text-right">
    <button type="button" class="btn btn-outline-primary" (click)="onUpload()">Upload</button>
    <button type="button" class="btn btn-outline-primary" (click)="onDownloadPDF()">Download PDF</button>
    <button type="button" class="btn btn-outline-primary" (click)="onDownloadExcel()">Download Excel</button>
  </div>
</div>