.search-table{
    padding: 10%;
    margin-top: -6%;
  }
  .search-box{
    background:rgba(255, 255, 255, 0.479);
    border: 1px solid #ababab;
    padding: 3%;
  }
  .search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
  }
  .search-list{
    background: rgba(249, 249, 250, 0.479);
    border: 1px solid #ababab;
    border-top: none;
  }
  .search-list h3{
    background: rgba(200, 225, 250, 0.479);
    padding: 3%;
    margin-bottom: 0%;
  }