/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn{
    margin-left: 10px;
}

.pull-right{
    float: right !important;
}

.text-right{
    text-align: right;
}

.form-group{
    margin-bottom: 30px;
}
