<div class="container">
    <h3 class="mt-4 ml-3">RxJS POC - Unsubscribe</h3>
    <div class="row mt-4 ml-3">
      <form class="form-inline">
        <div class="form-group mr-sm-2" class="float-start">
          <input type="text" class="form-control" #valor placeholder="Valor">
        </div>
        <div class="form-group mx-sm-2" class="float-start">
          <button type="button" class="btn btn-outline-primary" (click)="emitirValor(valor.value)">Emitir Valor</button>
        </div>
        <div class="form-group mx-sm-2" class="float-end">
          <button type="button" class="btn btn-outline-danger" (click)="destruirComponentes()">Mostrar / Destruir Componentes</button>
        </div>
      </form>
    </div>
    <div class="row mt-4" *ngIf="mostrarComponentes" >
      <app-poc class="col-md-4"></app-poc>
      <app-poc-unsub class="col-md-4"></app-poc-unsub>
      <app-poc-async class="col-md-4"></app-poc-async>
      <app-poc-take-until class="col-md-4"></app-poc-take-until>
      <app-poc-take class="col-md-4"></app-poc-take>
    </div>